<!doctype html>
<!-- - - - - - - - - - - - -->
<!-- Layout Specification  -->
<!-- - - - - - - - - - - - -->
<html lang=en>
<head>
<meta charset=utf-8>
<meta name=viewport                   content="width=device-width, initial-scale=1">
<meta name=apple-mobile-web-app-title content="Letterbox">
<title>Layout &bull; Letterbox</title>
<link rel=icon             href=https://centerkey.com/graphics/bookmark.png>
<link rel=apple-touch-icon href=https://centerkey.com/graphics/mobile-home-screen.png>
<link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.3/css/all.min.css>
<link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/dna.js@1.4/dna.css>
<link rel=stylesheet       href=../../dist/reset.min.css>
<link rel=stylesheet       href=letterbox.css>
<style>
   /* Letterbox layout -- customize colors */
   html { background-image: url(https://pilafian.com/dem/gallery/exploring-morocco/~data~/portfolio/015-large.jpg); }
</style>
</head>
<body>

<main>
   <section>
      <h1>Header 1</h1>
      <h2>Header 2</h2>
      <div>
         <p>
            Picanha tenderloin leberkas alcatra jowl burgdoggen sirloin tail beef flank. Chuck ham bacon jowl pancetta flank. Sirloin alcatra sausage drumstick ball tip tongue. Salami pork landjaeger pastrami filet mignon.
         </p>
         <p>
            Frankfurter jerky brisket pork loin ham hock. Andouille bacon bresaola spare ribs landjaeger chicken biltong pork shank drumstick pork belly turkey pastrami strip steak doner. Sirloin sausage jowl flank kielbasa tenderloin. Andouille leberkas meatball hamburger short ribs bresaola filet mignon pork pig meatloaf.
         </p>
      </div>
      <div id=social-buttons></div>
   </section>
   <div class=attribution>
      <a href=https://commons.wikimedia.org/wiki/File:Stainer.jpg class=plain>Photo by Frinck51</a>
   </div>
</main>

<script src=https://cdn.jsdelivr.net/npm/jquery@3.3/dist/jquery.min.js></script>
<script src=https://cdn.jsdelivr.net/npm/dna.js@1.4/dna.min.js></script>
<script src=https://cdn.jsdelivr.net/npm/web-ignition@1.0/dist/library.min.js></script>
</body>
</html>
