<!doctype html>
<!-- - - - - - - - - - - - -->
<!-- Layout Specification  -->
<!-- - - - - - - - - - - - -->
<html lang=en>
<head>
<meta charset=utf-8>
<meta name=viewport                   content="width=device-width, initial-scale=1">
<meta name=apple-mobile-web-app-title content="Layout">
<title>Layout &bull; Neon</title>
<link rel=icon             href=https://centerkey.com/graphics/bookmark.png>
<link rel=apple-touch-icon href=https://centerkey.com/graphics/mobile-home-screen.png>
<link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13/css/all.min.css>
<link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/dna.js@1.6/dist/dna.css>
<link rel=stylesheet       href=../../dist/reset.min.css>
<link rel=stylesheet       href=neon.css>
</head>
<body>

<header>
   <h1>Page Title (h1)</h1>
   <h2>Page Subtitle (h2)</h2>
   <h3>Page Microtitle (h3)</h3>
   <h4>Page Nanotitle (h4)</h4>
</header>

<main>

   <section>
      <h2>Section header (h2)</h2>
      <h3>Section subheader (h3)</h3>
      <figure>
         <pre><code class=language-shell>
            <span class=prompt>$</span> mkdir the-folder
            <span class=prompt>$</span> cd the-folder
            <span class=prompt>$</span> date &gt; date.txt
         </code></pre>
      </figure>
      <p>Stuff goes here.</p>
      <figure>
         <img src=https://centerkey.com/graphics/center-key-logo.svg alt=colors>
         <figcaption>Color Chart</figcaption>
      </figure>
      <p>Stuff goes here.</p>
   </section>

   <section>
      <h2>Contact</h2>
      <form class=perfect>
         <h2>Send Us a Message</h2>
         <label>
            <span>Message:</span>
            <textarea name=message placeholder="Enter message"></textarea>
         </label>
         <label>
            <span>Name:</span>
            <input name=name placeholder="Enter your name">
         </label>
         <label>
            <span>Email:</span>
            <input name=email placeholder="Enter your email">
         </label>
         <p>
            <span>Powered by <a href=https://centerkey.com/php>PERFECT</a></span>
            <button type=submit>Submit</button>
         </p>
      </form>
   </section>

   <section>
      <h2>Random</h2>
      <aside><div id=social-buttons></div></aside>
      <div>
         <blockquote>
            "I believe alien life is quite common in the universe, although intelligent life is less so.&nbsp; Some say it has yet to appear on planet Earth."
            <cite>Stephen Hawking</cite>
         </blockquote>
         <blockquote>
            "I feel... sexier, I think, with short hair.&nbsp; I feel like an alien!"
            <cite>Pamela Anderson</cite>
         </blockquote>
         <blockquote>
            "My folks came to U.S. as immigrants, aliens, and became citizens.&nbsp; I was born in Boston, a citizen, went to Hollywood and became an alien."
            <cite>Leonard Nimoy</cite>
         </blockquote>
      </div>
   </section>

</main>

<footer>
   <p>
      <b>Neon Layout</b><br>
      For hackers and space junkies
   </p>
   <p>
      <a href=https://centerkey.com>
         <img src=https://centerkey.com/graphics/center-key-logo.svg alt=logo>
      </a>
   </p>
   <p>
      <a rel=license href=https://creativecommons.org/licenses/by-sa/4.0 data-license=cc-by-sa>
         <i data-brand=creative-commons></i>
      </a>
   </p>
</footer>

<script src=https://cdn.jsdelivr.net/npm/jquery@3.4/dist/jquery.min.js></script>
<script src=https://cdn.jsdelivr.net/npm/dna.js@1.6/dist/dna.min.js></script>
<script src=https://cdn.jsdelivr.net/npm/web-ignition@1.2/dist/library.min.js></script>
<script src=neon.js></script>
<script>
   const trimCodeBlock = (i, elem) => $(elem).html($(elem).html().replace(/\n {12}/g, '\n').trim());
   $('figure >pre >code').each(trimCodeBlock);
</script>

</body>
</html>
