<!doctype html>
<!-- - - - - - - - - - - - -->
<!-- Layout Specification  -->
<!-- - - - - - - - - - - - -->
<html lang=en>
<head>
<meta charset=utf-8>
<meta name=viewport                   content="width=device-width, initial-scale=1">
<meta name=apple-mobile-web-app-title content="Zebra Sections">
<title>Layout &bull; Zebra Sections</title>
<link rel=icon             href=https://centerkey.com/graphics/bookmark.png>
<link rel=apple-touch-icon href=https://centerkey.com/graphics/mobile-home-screen.png>
<link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.11/css/all.min.css>
<link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/dna.js@1.5/dist/dna.css>
<link rel=stylesheet       href=../../dist/reset.min.css>
<link rel=stylesheet       href=zebra-sections.css>
<style>
   /* Zebra Sections Layout -- customize colors */
   body >header nav a { color: white; text-shadow: 0px 0px 0.6em black; }
   body >header nav a.current, body >header nav a:hover { color: white; border-color: gold; }
   body >header { background-image: url(https://pilafian.com/dem/gallery/colorful-thailand/~data~/portfolio/006-large.jpg); }
   body main >section[data-background=purple] { background-image: url(https://pilafian.com/dem/gallery/colorful-thailand/~data~/portfolio/024-large.jpg); }
</style>
</head>
<body>

<header>
   <nav>
      <a href=. class=current>Home</a>
      <a href=tutorial>Tutorial</a>
      <a href=docs>Documentation</a>
      <a href=about>About</a>
   </nav>
   <h1>Page Title (h1)</h1>
   <h2>Page Subtitle (h2)</h2>
   <img src=https://centerkey.com/graphics/bookmark.png alt=avatar>
</header>

<main>

   <section>
      <h2>Section header (h2)</h2>
      <h3>Section subheader (h3)</h3>
      <p>
         Bacon ipsum dolor amet spare ribs venison shoulder pork cupim turkey shankle tri-tip jowl ground round bacon leberkas swine.
      </p>
      <p>
         Shank biltong landjaeger bacon, leberkas cow pork brisket tri-tip chuck jowl. Shank ham meatloaf, drumstick boudin chicken hamburger pig ribeye kielbasa chuck kevin leberkas swine. Shank pork loin strip steak ball tip porchetta landjaeger.
      </p>
   </section>

   <section>
      <h2>Random 1</h2>
      <p>Stuff goes here.</p>
   </section>

   <section>
      <h2>Random 2</h2>
      <p>Stuff goes here.</p>
   </section>

   <section>
      <h2>On Fire</h2>
      <figure>
         <img src=https://pilafian.com/dem/gallery/colorful-thailand/~data~/portfolio/005-large.jpg alt=dragon>
         <figcaption>Dragon</figcaption>
      </figure>
      <p>Stuff goes here.</p>
   </section>

   <section data-background=purple>
      <h2>Contact</h2>
      <form class=perfect>
         <h2>Send Us a Message</h2>
         <label>
            <span>Message:</span>
            <textarea name=message placeholder="Enter message"></textarea>
         </label>
         <label>
            <span>Name:</span>
            <input name=name placeholder="Enter your name">
         </label>
         <label>
            <span>Email:</span>
            <input name=email placeholder="Enter your email">
         </label>
         <p>
            <span>Powered by <a href=https://centerkey.com/php>PERFECT</a></span>
            <button type=submit>Submit</button>
         </p>
      </form>
   </section>

   <section>
      <h2>Random 3</h2>
      <p>Stuff goes here.</p>
   </section>

</main>

<footer>
   <div id=social-buttons></div>
   <div>
      <a href=..><i data-icon=home></i></a>
      <a href=..><i data-icon=bolt></i></a>
   </div>
   <div>Copyright &copy; 2151 Enterprise</div>
</footer>

<script src=https://cdn.jsdelivr.net/npm/jquery@3.4/dist/jquery.min.js></script>
<script src=https://cdn.jsdelivr.net/npm/dna.js@1.5/dist/dna.min.js></script>
<script src=https://cdn.jsdelivr.net/npm/web-ignition@1.1/dist/library.min.js></script>
</body>
</html>
