// LibX Montage loop

@import "../static/utility-box";

.montage-loop {
   position: relative;
   >img {
      position: absolute;
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      opacity: 0;
      &.previous {
         opacity: 1;
         z-index: @layerHover;
         }
      &.current {
         opacity: 1;
         z-index: @layerHover + 1;
         }
      }
   }
