<!doctype html>
<!-- - - - - - - - - - - - -->
<!-- Layout Specification  -->
<!-- - - - - - - - - - - - -->
<html lang=en>
<head>
   <meta charset=utf-8>
   <meta name=viewport                   content="width=device-width, initial-scale=1">
   <meta name=robots                     content="index, follow">
   <meta name=description                content="Block Duo layout -- Two big columns followed by a single footer">
   <meta name=apple-mobile-web-app-title content="Block Duo">
   <title>Layout &bull; Block Duo</title>
   <link rel=icon             href=https://centerkey.com/graphics/bookmark.png>
   <link rel=apple-touch-icon href=https://centerkey.com/graphics/mobile-home-screen.png>
   <link rel=preconnect       href=https://fonts.googleapis.com>
   <link rel=preconnect       href=https://fonts.gstatic.com crossorigin>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5/css/all.min.css>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/dna-engine@3.2/dist/dna-engine.css>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/dna-engine@3.2/dist/panel-nav.css>
   <link rel=stylesheet       href=../../../dist/reset.min.css>
   <link rel=stylesheet       href=block-duo.css>
   <style>
      /* Block Duo layout -- customize colors */
      main >section:nth-child(1) { color: white;     background-color: linen; }
      main >section:nth-child(2) { color: gainsboro; background-color: black; }
   </style>
   <script defer src=https://cdn.jsdelivr.net/npm/dna-engine@3.2/dist/dna-engine.min.js></script>
   <script defer src=https://cdn.jsdelivr.net/npm/web-ignition@2.1/dist/lib-x.min.js></script>
</head>
<body>

<main>

   <section class=image-block>
      <h2>Medieval Poetry</h2>
      <figure>
         <img src=https://pilafian.org/graphics/backgrounds/medieval-poetry-1653.jpg alt=poetry>
      </figure>
   </section>

   <section>
      <header>
         <h1>Page Title (h1)</h1>
         <h2>Page Subtitle (h2)</h2>
      </header>
      <h2>Block header (h2)</h2>
      <h3>Block subheader (h3)</h3>
      <p>Kielbasa jerky drumstick capicola prosciutto. Salami spare ribs drumstick pork chop chicken.</p>
      <nav class=dna-menu data-menu-nav=book-format data-style=flat-tabs>
         <span>Hardcover</span>
         <span>eBook</span>
      </nav>
      <div class=dna-panels data-menu-nav=book-format>
         <div>
            <aside>
               <img src=https://pilafian.org/graphics/backgrounds/mount-ararat.jpg alt=mountain>
            </aside>
            <p>Hardcovers are the nicest.</p>
         </div>
         <div>
            <p>EBooks are the future.</p>
         </div>
      </div>
      <p>Shankle boudin brisket t-bone sirloin. Hamburger venison landjaeger flank pork ground round spare ribs biltong shankle pork chop leberkas pork loin boudin shank. Filet mignon tail capicola hamburger jerky beef ribs pork loin shoulder rump corned beef sirloin ribeye bacon.</p>
      <quotes-box>
         <quote-list>
            <blockquote>
               "Salami spare ribs drumstick pork chop chicken. Shankle boudin brisket t-bone sirloin."
               <cite>Somebody, January 2345</cite>
            </blockquote>
            <blockquote>
               "Shankle boudin brisket t-bone sirloin. Hamburger venison landjaeger flank pork ground round spare ribs biltong shankle pork chop leberkas pork loin boudin shank."
               <cite>Somebody Else, January 2345</cite>
            </blockquote>
            <blockquote>
               "Filet mignon tail capicola hamburger jerky beef ribs pork loin shoulder rump corned beef sirloin ribeye bacon."
               <cite>Nobody, January 2345</cite>
            </blockquote>
         </quote-list>
      </quotes-box>
   </section>
</main>

<footer class=plain>
   <p id=social-buttons></p>
   <p>
      <a href=..><i data-icon=home></i></a>
      <a href=..><i data-icon=bolt></i></a>
   </p>
   <p>Copyright &copy; 2151 Enterprise</p>
</footer>

</body>
</html>
