<!doctype html>
<html lang=en>
<!-- - - - - - - - - - - - -->
<!-- Layout Specification  -->
<!-- Letterbox Layout      -->
<!-- - - - - - - - - - - - -->
<head>
   <meta charset=utf-8>
   <meta name=viewport                   content="width=device-width, initial-scale=1">
   <meta name=robots                     content="index, follow">
   <meta name=description                content="Letterbox Layout -- Edge-to-edge semi-opaque bar over cover background image">
   <meta name=apple-mobile-web-app-title content="Letterbox">
   <title>Layout &bull; Letterbox</title>
   <link rel=icon             href=https://centerkey.com/graphics/bookmark-icon.png>
   <link rel=apple-touch-icon href=https://centerkey.com/graphics/mobile-home-screen.png>
   <link rel=preconnect       href=https://fonts.googleapis.com>
   <link rel=preconnect       href=https://fonts.gstatic.com crossorigin>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.1/css/all.min.css>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/dna-engine@3.3/dist/dna-engine.css>
   <link rel=stylesheet       href=../../../dist/reset.min.css>
   <link rel=stylesheet       href=letterbox.css>
   <style>
      /* Letterbox Layout -- customize colors */
      html { background-image: url(https://pilafian.org/pilaf/gallery/exploring-morocco/~data~/portfolio/015-large.jpg); }
   </style>
   <script defer src=https://cdn.jsdelivr.net/npm/dna-engine@3.3/dist/dna-engine.min.js></script>
   <script defer src=https://cdn.jsdelivr.net/npm/web-ignition@2.4/dist/lib-x.min.js></script>
</head>
<body>

<main>

   <section>
      <h1>Page Title (h1)</h1>
      <h2>Page Subtitle (h2)</h2>
      <div>
         <p>
            Picanha tenderloin leberkas alcatra jowl burgdoggen sirloin tail beef flank.&nbsp; Chuck ham bacon jowl pancetta flank.&nbsp; Sirloin alcatra sausage drumstick ball tip tongue.&nbsp; Salami pork landjaeger pastrami filet mignon.
         </p>
         <p>
            Frankfurter jerky brisket pork loin ham hock.&nbsp; Andouille bacon bresaola spare ribs landjaeger chicken biltong pork shank drumstick pork belly turkey pastrami strip steak doner.&nbsp; Sirloin sausage jowl flank kielbasa tenderloin.&nbsp; Andouille leberkas meatball hamburger short ribs bresaola filet mignon pork pig meatloaf.
         </p>
      </div>
   </section>

   <section>
      <h2 class=hide-me>Extra</h2>
      <!--
      <figure class=video-container>
         <iframe src=https://www.youtube.com/embed/1CrYAFZPdAg allow=fullscreen></iframe>
         <figcaption>Video Title (hidden)</figcaption>
      </figure>
      -->
      <figure class=display-box>
         <h3>Extra Links</h3>
         <a href=.>Go to here</a><br>
         <a href=..>Go up one level</a><br>
      </figure>
      <figure>
         <a href=https://centerkey.com/paradise>
            <img src=https://centerkey.com/paradise/graphics/paradise-logo.svg alt=Logo>
         </a>
         <figcaption><a href=https://centerkey.com/paradise>centerkey.com/paradise</a></figcaption>
      </figure>
      <div id=social-buttons></div>
   </section>

   <cite class=plain>
      <a href=https://pilafian.org/pilaf/gallery/exploring-morocco/image/015/spice-sunset>Spice Sunset</a>
   </cite>

</main>

</body>
</html>
