<!doctype html>
<!-- - - - - - - - - - - - -->
<!-- Layout Specification  -->
<!-- - - - - - - - - - - - -->
<html lang=en>
<head>
   <meta charset=utf-8>
   <meta name=viewport                   content="width=device-width, initial-scale=1">
   <meta name=robots                     content="index, follow">
   <meta name=description                content="Modern layout -- Clean blog post page">
   <meta name=apple-mobile-web-app-title content="Modern">
   <title>Layout &bull; Modern</title>
   <link rel=icon             href=https://centerkey.com/graphics/bookmark.png>
   <link rel=apple-touch-icon href=https://centerkey.com/graphics/mobile-home-screen.png>
   <link rel=preconnect       href=https://fonts.googleapis.com>
   <link rel=preconnect       href=https://fonts.gstatic.com crossorigin>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5/css/all.min.css>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/dna-engine@3.2/dist/dna-engine.css>
   <link rel=stylesheet       href=../../../dist/reset.min.css>
   <link rel=stylesheet       href=modern.css>
   <style>
      /* Modern layout -- customize colors */
      main >div >article { background-color: aliceblue; border-color: steelblue; }
      main >div >article >h3 { color: steelblue; }
   </style>
   <style>
      ul >li:nth-child(1) { font-weight: 100; }
      ul >li:nth-child(2) { font-weight: 200; }
      ul >li:nth-child(3) { font-weight: 300; }
      ul >li:nth-child(4) { font-weight: 400; }
      ul >li:nth-child(5) { font-weight: 500; }
      ul >li:nth-child(6) { font-weight: 600; }
      ul >li:nth-child(7) { font-weight: 700; }
      ul >li:nth-child(8) { font-weight: 800; }
      ul >li:nth-child(9) { font-weight: 900; }
      body >footer >div >figure >img { background-color: silver; }
   </style>
   <script defer src=https://cdn.jsdelivr.net/npm/dna-engine@3.2/dist/dna-engine.min.js></script>
   <script defer src=https://cdn.jsdelivr.net/npm/web-ignition@2.2/dist/lib-x.min.js></script>
</head>
<body>

<header>
   <figure>
      <img src=https://centerkey.com/graphics/center-key-logo.png alt=logo>
   </figure>
   <h2>Page Subtitle (h2)</h2>
   <nav id=#link-menu>
      <a href=. class=current>Home</a>
      <a href=.>Support</a>
      <a href=.>About</a>
   </nav>
</header>

<main data-page=about>
   <h1>Page Title (h1)</h1>
   <div>
      <article>
         <h3>June 28, 1971</h3>
         <p>
            Picanha tenderloin leberkas alcatra jowl burgdoggen sirloin tail beef flank. Chuck ham bacon jowl pancetta flank. Sirloin alcatra sausage drumstick ball tip tongue. Salami pork landjaeger pastrami filet mignon.
         </p>
      </article>
      <article>
         <h3>May 4, 2030</h3>
         <p>
            Frankfurter jerky brisket pork loin ham hock. Andouille bacon bresaola spare ribs landjaeger chicken biltong pork shank drumstick pork belly turkey pastrami strip steak doner. Sirloin sausage jowl flank kielbasa tenderloin. Andouille leberkas meatball hamburger short ribs bresaola filet mignon pork pig meatloaf.
         </p>
      </article>
   </div>
   <p>
      Shankle boudin brisket t-bone sirloin. Hamburger venison landjaeger flank pork ground round spare ribs biltong shankle pork chop leberkas pork loin boudin shank. Filet mignon tail capicola hamburger jerky beef ribs pork loin shoulder rump corned beef sirloin ribeye bacon.
   </p>
   <h3>Font weights:</h3>
   <ul>
      <li>Nunito 100 <b>Bold</b> <i>Italic</i> <b><i>Both</i></b></li>
      <li>Nunito 200 <b>Bold</b> <i>Italic</i> <b><i>Both</i></b></li>
      <li>Nunito 300 <b>Bold</b> <i>Italic</i> <b><i>Both</i></b></li>
      <li>Nunito 400 <b>Bold</b> <i>Italic</i> <b><i>Both</i></b></li>
      <li>Nunito 500 <b>Bold</b> <i>Italic</i> <b><i>Both</i></b></li>
      <li>Nunito 600 <b>Bold</b> <i>Italic</i> <b><i>Both</i></b></li>
      <li>Nunito 700 <b>Bold</b> <i>Italic</i> <b><i>Both</i></b></li>
      <li>Nunito 800 <b>Bold</b> <i>Italic</i> <b><i>Both</i></b></li>
      <li>Nunito 900 <b>Bold</b> <i>Italic</i> <b><i>Both</i></b></li>
   </ul>
   <nav class=external-size>
      <a href=https://dna-engine.org>
         <img src=https://dna-engine.org/graphics/dna-logo.png alt=logo>
      </a>
      <a href=https://dragonsgrill.org>
         <img src=https://dragonsgrill.org/graphics/dragons-grill.png alt=logo>
      </a>
      <a href=https://fetch-json.js.org>
         <img src=https://raw.githubusercontent.com/center-key/fetch-json/main/docs/logos.png alt=logo>
      </a>
   </nav>
</main>

<footer>
   <div>
      <figure>
         <img src=https://robohash.org/3 alt=avatar>
      </figure>
      <address>
         <b>The Purple Robot Club</b>
         <p>
            <span>https://example.com</span>
            <span>contact@example.com</span>
            <span>+1 415-555-1212</span>
         </p>
      </address>
   </div>
   <small>Copyright &copy; 2151 Enterprise</small>
</footer>

</body>
</html>
