<!doctype html>
<html lang=en>
<!-- - - - - - - - - - - - -->
<!-- Layout Specification  -->
<!-- Neon Layout Layout    -->
<!-- - - - - - - - - - - - -->
<head>
   <meta charset=utf-8>
   <meta name=viewport                   content="width=device-width, initial-scale=1">
   <meta name=robots                     content="index, follow">
   <meta name=description                content="Neon Layout -- For hackers and space junkies">
   <meta name=apple-mobile-web-app-title content="Neon">
   <title>Layout &bull; Neon</title>
   <link rel=icon             href=https://centerkey.com/graphics/bookmark-icon.png>
   <link rel=apple-touch-icon href=https://centerkey.com/graphics/mobile-home-screen.png>
   <link rel=preconnect       href=https://fonts.googleapis.com>
   <link rel=preconnect       href=https://fonts.gstatic.com crossorigin>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0/css/all.min.css>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/dna-engine@3.3/dist/dna-engine.css>
   <link rel=stylesheet       href=../../../dist/reset.min.css>
   <link rel=stylesheet       href=neon.css>
   <script defer src=https://cdn.jsdelivr.net/npm/dna-engine@3.3/dist/dna-engine.min.js></script>
   <script defer src=https://cdn.jsdelivr.net/npm/web-ignition@2.4/dist/lib-x.min.js></script>
   <script defer src=neon.js></script>
   <script data-on-load=trimCodeBlocks>
      const trimCodeBlock = (elem) =>
         elem.innerHTML = elem.innerHTML.replace(/\n {12}/g, '\n').trim();
      const trimCodeBlocks = () =>
         globalThis.document.querySelectorAll('figure >pre >code').forEach(trimCodeBlock);
   </script>
</head>
<body>

<header>
   <h1>Page Title (h1)</h1>
   <h2>Page Subtitle (h2)</h2>
   <h3>Page Microtitle (h3)</h3>
   <h4>Page Nanotitle (h4)</h4>
</header>

<main>

   <section>
      <h2>Section header (h2)</h2>
      <h3>Section subheader (h3)</h3>
      <figure>
         <pre><code class=language-shell>
            <span class=prompt>$</span> mkdir the-folder
            <span class=prompt>$</span> cd the-folder
            <span class=prompt>$</span> date &gt; date.txt
         </code></pre>
      </figure>
      <p>Stuff goes here.</p>
      <figure>
         <img src=https://centerkey.com/graphics/center-key-logo.svg alt=colors>
         <figcaption>Color Chart</figcaption>
      </figure>
      <p>Stuff goes here.</p>
      <figure>
         <pre><code class=language-alien>
            ⎅⋏⏃.⟊⌇ ⟟⌇ ⏃ ⌰⟟☌⊑⏁⍙⟒⟟☌⊑⏁ ⟒⏃⌇⊬-⏁⍜-⎍⌇⟒ ⎍⟟ ⌰⟟⏚⍀⏃⍀⊬ ⟒⋏⏃⏚⌰⟟⋏☌ ⎅⟒⎐⟒⌰⍜⌿⟒⍀⌇ ⏁⍜ ⍀⏃⌿⟟⎅⌰⊬ ⏚⎍⟟⌰⎅
            ⋔⏃⟟⋏⏁⏃⟟⋏⏃⏚⌰⟒ ⟊⏃⎐⏃⌇☊⍀⟟⌿⏁ ⏃⌿⌿⌰⟟☊⏃⏁⟟⍜⋏⌇
         </code></pre>
      </figure>
      <b>Links:</b>
      <ul class=external-site>
         <li><a href=https://centerkey.com>Been there, done that.</a></li>
         <li><a href=https://centerkey.com/nonexistent>I'm sorry, Dave. I'm afraid I can't do that.</a></li>
      </ul>
   </section>

   <section>
      <h2>Contact</h2>
      <form class=perfect>
         <h2>Send Us a Message</h2>
         <label>
            <span>Message:</span>
            <textarea name=message placeholder="Enter message"></textarea>
         </label>
         <label>
            <span>Name:</span>
            <input name=name placeholder="Enter your name">
         </label>
         <label>
            <span>Email:</span>
            <input name=email placeholder="Enter your email">
         </label>
         <nav>
            <small>Powered by <a href=https://centerkey.com/php>PERFECT</a></small>
            <button type=submit>Send</button>
         </nav>
      </form>
   </section>

   <section>
      <h2>Random</h2>
      <aside><div id=social-buttons></div></aside>
      <div>
         <blockquote>
            "I believe alien life is quite common in the universe, although intelligent life is less so.&nbsp; Some say it has yet to appear on planet Earth."
            <cite>Stephen Hawking</cite>
         </blockquote>
         <blockquote>
            "I feel... sexier, I think, with short hair.&nbsp; I feel like an alien!"
            <cite>Pamela Anderson</cite>
         </blockquote>
         <blockquote>
            "My folks came to the U.S. as immigrants, aliens, and became citizens.&nbsp; I was born in Boston, a citizen, went to Hollywood and became an alien."
            <cite>Leonard Nimoy</cite>
         </blockquote>
      </div>
   </section>

</main>

<footer>
   <p>
      <b>Neon Layout</b><br>
      For hackers and space junkies
   </p>
   <p>
      <a href=https://centerkey.com>
         <img src=https://centerkey.com/graphics/center-key-logo.svg alt=logo>
      </a>
   </p>
   <p>
      <a rel=license href=https://creativecommons.org/licenses/by-sa/4.0 data-license=cc-by-sa>
         <i data-brand=creative-commons></i>
      </a>
   </p>
</footer>

</body>
</html>
