<!doctype html>
<!-- - - - - - - - - - - - -->
<!-- Layout Specification  -->
<!-- Vertical Bars Layout  -->
<!-- - - - - - - - - - - - -->
<html lang=en>
<head>
   <meta charset=utf-8>
   <meta name=viewport                   content="width=device-width, initial-scale=1">
   <meta name=robots                     content="index, follow">
   <meta name=description                content="Vertical Bars Layout -- traditional boring old-school webpage">
   <meta name=apple-mobile-web-app-title content="Vertical Bars">
   <title>Layout &bull; Vertical Bars</title>
   <link rel=icon             href=https://centerkey.com/graphics/bookmark-icon.png>
   <link rel=apple-touch-icon href=https://centerkey.com/graphics/mobile-home-screen.png>
   <link rel=preconnect       href=https://fonts.googleapis.com>
   <link rel=preconnect       href=https://fonts.gstatic.com crossorigin>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7/css/all.min.css>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/dna-engine@3.2/dist/dna-engine.css>
   <link rel=stylesheet       href=../../../dist/reset.min.css>
   <link rel=stylesheet       href=vertical-bars.css>
   <style>
      /* Vertical Bars Layout -- customize colors */
      html { background-color: dimgray; }
      body { color: whitesmoke; background-color: black; border-color: firebrick; }  /* font, body, bars */
      body >header nav a { color: white; }
      body >header nav a.current, body >header nav a:hover { border-color: gold; }
      body >footer { color: silver; }
   </style>
   <script defer src=https://cdn.jsdelivr.net/npm/dna-engine@3.2/dist/dna-engine.min.js></script>
   <script defer src=https://cdn.jsdelivr.net/npm/web-ignition@2.3/dist/lib-x.min.js></script>
</head>
<body>

<header>
   <nav id=#link-menu>
      <a href=. class=current>Home</a>
      <a href=products>Products</a>
      <a href=contact>Contact</a>
      <a href=about>About</a>
   </nav>
   <h1>Page Title (h1)</h1>
   <h2>Page Subtitle (h2)</h2>
   <p>This layout is antiquated and should not be used for new projects.</p>
</header>

<main>
   <section>
      <h2>Section header (h2)</h2>
      <h3>Section subheader (h3)</h3>
      <div>
         <p>
            Picanha tenderloin leberkas alcatra jowl burgdoggen sirloin tail beef flank. Chuck ham bacon jowl pancetta flank. Sirloin alcatra sausage drumstick ball tip tongue. Salami pork landjaeger pastrami filet mignon.
         </p>
         <p>
            Frankfurter jerky brisket pork loin ham hock. Andouille bacon bresaola spare ribs landjaeger chicken biltong pork shank drumstick pork belly turkey pastrami strip steak doner. Sirloin sausage jowl flank kielbasa tenderloin. Andouille leberkas meatball hamburger short ribs bresaola filet mignon pork pig meatloaf.
         </p>
      </div>
   </section>
</main>

<footer>
   <p id=social-buttons></p>
   <p>Copyright &copy; 2151 Enterprise</p>
</footer>

</body>
</html>
