<!doctype html>
<!-- - - - - - - - - - - - -->
<!-- Layout Specification  -->
<!-- - - - - - - - - - - - -->
<html lang=en>
<head>
   <meta charset=utf-8>
   <meta name=viewport                   content="width=device-width, initial-scale=1">
   <meta name=robots                     content="index, follow">
   <meta name=description                content="Zebra Sections layout -- Edge-to-edge blocks with alternating background colors">
   <meta name=apple-mobile-web-app-title content="Zebra Sections">
   <title>Layout &bull; Zebra Sections</title>
   <link rel=icon             href=https://centerkey.com/graphics/bookmark.png>
   <link rel=apple-touch-icon href=https://centerkey.com/graphics/mobile-home-screen.png>
   <link rel=preconnect       href=https://fonts.googleapis.com>
   <link rel=preconnect       href=https://fonts.gstatic.com crossorigin>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7/css/all.min.css>
   <link rel=stylesheet       href=https://cdn.jsdelivr.net/npm/dna-engine@3.2/dist/dna-engine.css>
   <link rel=stylesheet       href=../../../dist/reset.min.css>
   <link rel=stylesheet       href=zebra-sections.css>
   <style>
      /* Zebra Sections layout -- customize header */
      body >header {
         background-image: url(https://pilafian.org/dem/gallery/colorful-thailand/~data~/portfolio/006-large.jpg);
         }
      body >header nav#link-menu a,
      body >header nav#link-menu a.current,
      body >header nav#link-menu a:hover {
         color: white;
         }
      body >header nav#link-menu a.current,
      body >header nav#link-menu a:hover {
         border-color: gold;
         }
      body main >section[data-background=purple] {
         background-image: url(https://pilafian.org/dem/gallery/colorful-thailand/~data~/portfolio/024-large.jpg);
         }
   </style>
   <style>main >section >*:hover { outline: 1px dotted plum; }</style>
   <script defer src=https://cdn.jsdelivr.net/npm/dna-engine@3.2/dist/dna-engine.min.js></script>
   <script defer src=https://cdn.jsdelivr.net/npm/web-ignition@2.3/dist/lib-x.min.js></script>
</head>
<body>

<header class=responsive-avatar>
   <nav id=link-menu>
      <a href=. class=current>Home</a>
      <a href=tutorial>Tutorial</a>
      <a href=docs>Documentation</a>
      <a href=about>About</a>
   </nav>
   <h1>Page Title (h1)</h1>
   <h2>Page Subtitle (h2)</h2>
   <img src=https://centerkey.com/graphics/bookmark.png alt=avatar>
</header>

<main>

   <section>
      <h2>Section header (h2)</h2>
      <cite>Author byline</cite>
      <div>
         Bacon ipsum dolor amet spare ribs venison shoulder pork cupim turkey shankle tri-tip jowl ground round bacon leberkas swine.
      </div>
      <div>
         Shank biltong landjaeger bacon, leberkas cow pork brisket tri-tip chuck jowl. Shank ham meatloaf, drumstick boudin chicken hamburger pig ribeye kielbasa chuck kevin leberkas swine. Shank pork loin strip steak ball tip porchetta landjaeger.
      </div>
   </section>

   <section>
      <h2>Random 1</h2>
      <h3>Section subheader (h3)</h3>
      <div>Stuff goes here.</div>
   </section>

   <section>
      <h2><i data-icon=thumbs-up></i>Random 2<img src=https://centerkey.com/graphics/bookmark.png alt=avatar></h2>
      <p>Paragraphs are "ragged-right" aligned.</p>
      <p>
         Paragraphs are "ragged-right" aligned.&nbsp; Paragraphs are "ragged-right" aligned.&nbsp;
         Paragraphs are "ragged-right" aligned.&nbsp; Paragraphs are "ragged-right" aligned.&nbsp;
         Paragraphs are "ragged-right" aligned.&nbsp; Paragraphs are "ragged-right" aligned.&nbsp;
      </p>
   </section>

   <section>
      <h2>Tables</h2>
      <table data-number-column=3>
         <caption>Regular Table</caption>
         <thead>
            <tr><th>Tree</th><th>Leaves</th><th>List Price</th></tr>
         </thead>
         <tbody>
            <tr><td>Redbud</td>     <td>Deciduous</td><td>139.00</td></tr>
            <tr><td>Pine</td>       <td>Evergreen</td><td>12.00</td></tr>
            <tr><th colspan=3>Discontinued</th></tr>
            <tr><td>Potato Tree</td><td>Deciduous</td><td>24.99</td></tr>
         </tbody>
      </table>
      <table class=data-box data-number-column=3 data-code-column=3>
         <caption>Data Box Table</caption>
         <thead>
            <tr><th>Tree</th><th>Leaves</th><th>List Price</th></tr>
         </thead>
         <tbody>
            <tr><td>Redbud</td>     <td>Deciduous</td><td>139.00</td></tr>
            <tr><td>Pine</td>       <td>Evergreen</td><td>12.00</td></tr>
            <tr><th colspan=3>Discontinued</th></tr>
            <tr><td>Potato Tree</td><td>Deciduous</td><td>24.99</td></tr>
         </tbody>
      </table>
   </section>

   <section>
      <h2>On Fire</h2>
      <figure>
         <img src=https://pilafian.org/dem/gallery/colorful-thailand/~data~/portfolio/005-large.jpg alt=dragon>
         <figcaption>Dragon</figcaption>
      </figure>
      <p>
         Stuff goes in a paragraph.&nbsp; Stuff goes in a paragraph.&nbsp; Stuff goes in a paragraph.&nbsp;
         Stuff goes in a paragraph.&nbsp; Stuff goes in a paragraph.&nbsp; Stuff goes in a paragraph.&nbsp;
      </p>
      <div>
         <header>Unordered List</header>
         <ul>
            <li>Item Ghost</li><li>Item American Bison</li><li><i data-icon=dragon></i>Item Dragon</li>
         </ul>
      </div>
      <div>
         <header>Ordered List</header>
         <ol>
            <li><i data-icon=ghost></i>Item Ghost</li><li>Item American Bison (also commonly known as the American Buffalo and standing up to 2 meters tall)</li><li><i data-icon=dragon></i>Item Dragon</li>
         </ol>
      </div>
      <div>
         <header>Menu of Lines</header>
         <menu>
            <li>Item Ghost</li><li>Item American Bison</li><li><i data-icon=dragon></i>Item Dragon</li>
         </menu>
      </div>
      <h2>Marble Checklist</h2>
      <ol class=marble-checklist data-on-load=libX.marbleChecklist.setup>
         <li id=dog>     <p>Walk dog</p></li>
         <li id=cilantro><p>Avoid cilantro</p></li>
         <li id=nap>     <p>Take nap</p></li>
      </ol>
      <form>
         <header>Enter Data</header>
         <label>
            <span>Item:</span>
            <select>
               <option>Launch Pad</option>
               <option>Spectrometer</option>
               <option>Spaceship</option>
            </select>
         </label>
         <label>
            <span>Quantity:</span><input value=3>
         </label>
      </form>
      <div>
         More stuff goes here if needed.&nbsp; More stuff goes here if needed.&nbsp;
         More stuff goes here if needed.&nbsp; More stuff goes here if needed.&nbsp;
         More stuff goes here if needed.&nbsp; More stuff goes here if needed.&nbsp;
      </div>
      <div>
         <blockquote>
            "No matter where you go, there you are."
            <cite>Buckaroo Banzai</cite>
         </blockquote>
      </div>
   </section>

   <section data-background=purple>
      <h2>Contact</h2>
      <form class=perfect>
         <h2>Send Us a Message</h2>
         <label>
            <span>Message:</span>
            <textarea name=message placeholder="Enter message"></textarea>
         </label>
         <label>
            <span>Name:</span>
            <input name=name placeholder="Enter your name">
         </label>
         <label>
            <span>Email:</span>
            <input name=email placeholder="Enter your email">
         </label>
         <nav>
            <small>Powered by <a href=https://centerkey.com/php>PERFECT</a></small>
            <button type=submit>Send</button>
         </nav>
      </form>
      <div><span>Can you read this text over the background?</span></div>
   </section>

   <section>
      <h2>More Random</h2>
      <div>Stuff goes here.</div>
      <footer>🦓 🦓 🦓</footer>
   </section>

</main>

<footer>
   <div id=social-buttons></div>
   <div>
      <a href=..><i data-icon=home></i></a>
      <a href=..><i data-icon=bolt></i></a>
   </div>
   <div>Copyright &copy; 2151 Enterprise</div>
</footer>

</body>
</html>
