/*******************************/
/* web-ignition - reset.css    */
/* CSS reset plus base styling */
/* MIT License                 */
/*******************************/

// Special font
@import url(https://fonts.googleapis.com/css?family=Chango);

// Custom Colors
:root {
   --colorGraphite: #303030;
   --colorCharcoal: #222222;
   --colorTar:      #161616;
   }

// Reset and normalization
@import "reset/core";
@import "reset/forms";
@import "reset/lib-x";
@import "reset/links";
@import "reset/tables";
@import "reset/utility-classes";
@import "reset/videos";

// 3rd party
@import "reset/3rd-party/fork-me";
@import "reset/3rd-party/perfect";

// Customizations
.dna-panels .dna-panel::after { content: ""; display: block; clear: both; }
