/******************************************************************************/

/****************************************/
/* Color Overrides                      */
/* web-ignition - reset.css             */
/* Copy into your CSS and adjust colors */
/****************************************/

/* Link Color */
a { border-color: steelblue; }
a:hover { background-color: steelblue; outline-color: steelblue; }

/* Flat Button Color */
button { background-color: cornflowerblue; }
button:hover:not(:disabled), button:focus { background-color: royalblue; }

/* Reveal Action Color */
.reveal-button { color: darkseagreen; }
.reveal-button:hover { background-color: darkseagreen; }

/* Bubble Help */
.bubble-help-hover >.bubble-wrap >.bubble-help { color: white; background-color: crimson; }
.bubble-help-hover >.bubble-wrap >.bubble-pointer { color: crimson; }

/* Marble Checklist */
ol.marble-checklist >li::before { background-color: deepskyblue; }                                /* marbles */
ol.marble-checklist >li label b::after { background-color: royalblue; border-color: royalblue; }  /* checkboxes */

/* PERFECT Style Colors */
form.perfect { border-color: seagreen; }                                    /* outer color */
form.perfect h2 { background-color: seagreen; }                             /* outer color */
form.perfect input, form.perfect textarea { background-color: mintcream; }  /* input fields */
